<!-- <div class="row">
    <div class="col text-center">
        <h1 class="animated zoomIn "><i class="fas fa-users fa-xs mr-3"></i>Clientes</h1>
    </div>
</div> -->
<div class="row">
    <div class="col">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="clientes" routerLinkActive="active">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="nuevo" routerLinkActive="active">Nuevo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="actualizar" routerLinkActive="active">Actulizar</a>
            </li>

        </ul>
    </div>
</div>

<div>
    <router-outlet></router-outlet>

</div>